<h1>Nueva venta</h1>
<h2>Podrá utilizar el siguiente asistente para realizar una venta</h2>
<hr>
<div class="row">
	<div class="col-sm-8">
		<label>Seleccione un cliente:</label>
		<selector listar="VMNuevaVenta.listarClientes" accion="VMNuevaVenta.accionClientes" clase-icono="'fa fa-user'" quitar-item="VMNuevaVenta.limpiarCliente"></selector>
	</div>
	<div class="col-sm-4">
		<label>Fecha:</label>
		<selector-fecha fecha-seleccionada="VMNuevaVenta.fecha" ></selector-fecha>
	</div>
</div>
<hr style="border-style: solid;">
<div class="row">
	<div class="col-lg-6">	
		<label>Seleccione productos:</label>
		<selector listar="VMNuevaVenta.listarProductos" accion="VMNuevaVenta.accionProductos" clase-icono="'fa fa-shopping-bag'" quitar-item="VMNuevaVenta.limpiarProducto" control="VMNuevaVenta.controlProductos"></selector>
		<div class="row">
			<div class="col-lg-3">
				<label>Cantidad: </label>
				<input ng-model = "VMNuevaVenta.cantidad" type="number" class="form-control" min="1" value="1">
			</div>
			<div class="col-lg-3">
				<label>Color:</label>
				<select class="form-control" ng-change="VMNuevaVenta.seleccionarColor()" ng-model="VMNuevaVenta.colorSeleccionado" ng-disabled="!VMNuevaVenta.colores.length > 0" ng-options="color.color for color in VMNuevaVenta.colores track by color.id"></select>
			</div>
			<div class="col-lg-3">
				<label>Talle:</label>
				<select class="form-control" ng-model="VMNuevaVenta.talleSeleccionado" ng-disabled="!VMNuevaVenta.talles.length > 0" ng-options="talle.talle for talle in VMNuevaVenta.talles track by talle.id"></select>
			</div>
			<div class="col-lg-3" style="padding-top: 17px;">
				<button class="btn btn-success btn-circle btn-lg pull-right" ng-disabled="!(VMNuevaVenta.productoSeleccionado && VMNuevaVenta.colorSeleccionado && VMNuevaVenta.talleSeleccionado)" ng-click="VMNuevaVenta.agregarProductoSeleccionado()"><i class="fa fa-plus"></i></button>
			</div>
		</div>
	</div>
	<div class="col-lg-6" ng-if="VMNuevaVenta.listaDetalles.length > 0">
		<ul class="list-group">
			<li ng-repeat="detalle in VMNuevaVenta.listaDetalles track by $index" class="row list-group-item" ng-click="VMNuevaVenta.quitarUnProducto(producto);" style="margin-right: 0; margin-left: 0;">
				<div class="col-md-8">{{ detalle.cantidad + ' x ' + detalle.linea.producto.descripcion + ' ' + detalle.linea.color.color + ' ' + detalle.linea.talle.talle }}</div> 
				<div class="col-md-4"><span class="pull-right">${{ detalle.linea.producto.precio.precio * detalle.cantidad }}</span></div>
			</li>
		</ul>
	</div>
</div>
<hr style="border-style: solid;">
<div class="row">
	<div class="col-lg-4">
		<label>Total:</label>
		<div class="input-group">
			<span class="input-group-addon">
				<i class="fa fa-money"></i>
			</span>
			<input type="text" class="form-control" value="${{ VMNuevaVenta.listaDetalles.total }}" disabled>
		</div>
	</div>
	<div class="col-lg-4">
		<label>Seleccione una forma de pago:</label>
		<select class="form-control"></select>
	</div>
	<div class="col-lg-2">
		<label>Paga con:</label>
		<div class="input-group">
			<span class="input-group-addon">
				<i class="fa fa-usd"></i>
			</span>
			<input type="text" class="form-control">
		</div>
	</div>
	<div class="col-lg-2">
		<label>Vuelto:</label>
		<div class="input-group">
			<span class="input-group-addon">
				<i class="fa fa-usd"></i>
			</span>
			<input type="text" class="form-control" readonly="readonly">
		</div>
	</div>
</div>
<hr>
<div class="row">
	<div class="col-lg-12">
		<button class="btn btn-success pull-right" ng-click="VMNuevaVenta.finalizar()">Finalizar venta</button>
	</div>
</div>
