<button type="button" class="btn btn-success btn-circle btn-lg btn-fixed" ng-click="tableVm.mostrarEditar()"><i class="fa fa-plus"></i></button> 
<div style="height: 300px; overflow: auto;">
	<table class="table table-hover table-bordered unselectable">
		<thead>
	      	<tr>
	      		<th ng-repeat="header in tableVm.data.headers">{{header}}</th>
	      	</tr>
	    </thead>
	     <tbody>
	     	<tr ng-repeat="row in tableVm.data.rows" ng-click="tableVm.mostrarEditar(row.originalRow)">
	     		<td ng-repeat="(key, value) in row.data track by $index">{{value}}</td>
	     	</tr>
	    </tbody>
	</table>
</div>
<div class="row">
  <div class="col-md-10">
    <button class="btn btn-link" ng-click="tableVm.previousPage()"><i class="fa fa-arrow-left"></i> Anterior</button>
    <span>Página actual: <b>{{ tableVm.currentPage + 1 }}</b></span>
    <button class="btn btn-link" ng-click="tableVm.nextPage();">Siguiente <i class="fa fa-arrow-right"></i></button>
  </div>
 <div class="col-md-2">
    <br>
    <span class="pull-right">Total: <b>{{ tableVm.totalPages }} páginas</b></span>
  </div>
</div>