<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
	    <title></title>
	    <link href="./lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
		<link href="./lib/ng-toast/ngToast.min.css" rel="stylesheet">
		<link href="./lib/hotkeys/hotkeys.min.css" rel="stylesheet">
		<link href="./lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="./lib/custom/app.css" rel="stylesheet">
		<link href="./lib/custom/modal.css" rel="stylesheet">
		<link href="./directivas/calendario/calendario.css" rel="stylesheet">			
		<link href="./areas/login/login.css" rel="stylesheet">
	</head>

	<body ng-app="shop-management" ng-controller="indexController as indexVm">
		<toast></toast>
    	<div class="container menu">
     		<div class="row menu">
        		<div class="menu izquierda col-lg-2 col-sm-2 col-xs-2" ng-show="indexVm.menuToggled">
          			<ul>
            			<li class="sidebar-brand"><a>Negocio de Ropa</a></li>
           				<li class="sidebar-brand mini"><a>NR</a></li>
						<li ng-repeat="item in indexVm.itemsMenu" ng-if="item.mostrarEnMenu"><a ui-sref="{{ item.nombre }}"><i class="{{ item.claseIcono }}" aria-hidden="true"></i><span> {{ item.nombreAMostrar }}</span></a></li>
						<li style="cursor: pointer;"><a class="exit" ng-click="indexVm.salir()"><i class="fa fa-sign-out" aria-hidden="true"></i><span> Salir</span></a></li>
          			</ul>
        		</div>
        		<div class="contenido" ng-class="indexVm.menuToggled ? 'col-lg-10 col-sm-10 col-xs-10' : 'col-lg-12 col-sm-12 col-xs-12'">
					<div class="row">
                		<div class="col-sm-12">
                			<div class="btn-fixed-left-top">
								<a class="toggle-button" ng-click="indexVm.toggleMenu()"><i class="fa fa-3x" ng-class="{'fa-bars': !indexVm.menuToggled, 'fa-times': indexVm.menuToggled}" aria-hidden="true" ng-if="indexVm.mostrarMenu"></i></a>	
                			</div>
                			<div class="btn-fixed-right-top">
                				<div class="row">
									<div class="col-lg-6 col-sm-6">
										<a class="toggle-button"><i class="fa fa-user-circle fa-3x"></i></a>
                					</div>
                					<div class="col-lg-6 col-sm-6">
                						<a class="toggle-button" ng-click="indexVm.toggleCheatSheet()"><i class="fa fa-question-circle fa-3x"></i></a>
                					</div>
                				</div>
								
                			</div>
                			<div style="height: 25px;"></div>
                			<div style="padding-left: 4%; padding-right: 4%;">
                				<ui-view></ui-view>
                			</div>
                		</div>
					</div>
					
       			</div>
    		</div>
    	</div>
  	</body>


	<script type="text/javascript" src="./lib/angular/angular.min.js"></script>
	<script type="text/javascript" src="./lib/angular/angular-animate.min.js"></script>
	<script type="text/javascript" src="./lib/angular/angular-sanitize.min.js"></script>
	
	<script type="text/javascript" src="./lib/ui-router/angular-ui-router.min.js"></script>
	<script type="text/javascript" src="./lib/ng-toast/ngToast.min.js"></script>
	<script type="text/javascript" src="./lib/hotkeys/hotkeys.min.js"></script>
	
	<script type="text/javascript" src="./app.js"></script>
	
	<!-- SERVICES -->
	<script type="text/javascript" src="./servicios/mensajes.servicio.js"></script>
	<script type="text/javascript" src="./servicios/util.servicio.js"></script>
	<script type="text/javascript" src="./servicios/api.servicio.js"></script>
	<script type="text/javascript" src="./servicios/tabla.servicio.js"></script>
	<script type="text/javascript" src="./servicios/usuario.servicio.js"></script>
	
	<!-- DIRECTIVES -->
	<script type="text/javascript" src="./directivas/modal/modal.directiva.js"></script>
	<script type="text/javascript" src="./directivas/modal/modal.controlador.js"></script>
	<script type="text/javascript" src="./directivas/tabla/tabla.directiva.js"></script>
	<script type="text/javascript" src="./directivas/tabla/tabla.controlador.js"></script>
	<script type="text/javascript" src="./directivas/selector/selector.directiva.js"></script>
	<script type="text/javascript" src="./directivas/selector/selector.controlador.js"></script>
	<script type="text/javascript" src="./directivas/calendario/calendario.directiva.js"></script>
	<script type="text/javascript" src="./directivas/calendario/calendario.controlador.js"></script>
	<script type="text/javascript" src="./directivas/selector-fecha/selector-fecha.directiva.js"></script>
	<script type="text/javascript" src="./directivas/selector-fecha/selector-fecha.controlador.js"></script>
	
	<!-- ABM's CONTROLLERS -->
	<script type="text/javascript" src="./areas/home/home.controlador.js"></script>
	<script type="text/javascript" src="./areas/clientes/clientes.controlador.js"></script>
	<script type="text/javascript" src="./areas/clientes/clientes.editar.controlador.js"></script>
	<script type="text/javascript" src="./areas/productos/productos.controlador.js"></script>
	<script type="text/javascript" src="./areas/productos/productos.editar.controlador.js"></script>
	<script type="text/javascript" src="./areas/usuarios/usuarios.controlador.js"></script>
	<script type="text/javascript" src="./areas/usuarios/usuarios.editar.controlador.js"></script>
	<script type="text/javascript" src="./areas/ventas/nueva-venta.controlador.js"></script>
	<script type="text/javascript" src="./areas/login/login.controlador.js"></script>

</html>

